/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }





 /* -----------------------BODY------------------------------- */ 

header, .containerAll, .landingPage, main, footer {font-family: "lato"; margin: 0 auto; max-width: 566px;}






.cardAnimation1 {
animation-name: card-animation-1; 
animation-duration: 2s; 
animation-iteration-count: infinite;
position: relative; 

}



@keyframes card-animation-1 {

    0%   {background-color: red;  left: 0px;}
    50%  {background-color: yellow;  left: -50px;}
    100%  {background-color: blue;  left: 0px;}
  
   



}




.cardAnimation2 {
animation-name: card-animation-2;
animation-duration: 2s; 
animation-direction: reverse; 
animation-iteration-count: infinite;
position: relative; 


}

@keyframes card-animation-2 {

    0%   {top: 0px;}
    50%  {top: 50px; }
    100%  {top: 0px;}
  



}


.cardAnimation3 {
    animation-name: card-animation-3;
    animation-duration: 2s; 
    animation-direction: reverse; 
animation-iteration-count: infinite;
position: relative; 

}


@keyframes card-animation-3 {

    0%   {background-color: red; left: 0px;}
    50%  {background-color: yellow; left: 50px; }
    100%  {background-color: blue; left: 0px;}
  



}







main {



   
    .m-c-header {
     //   margin: 20px; 
        margin-top: 50px;
        font-size: 32px;  
    
    }
    

    .containerAll {
        display: flex; 
        flex-wrap: wrap; 
    
    .cardAnimations:hover {

        transform: translate3D(0,-2px,0) scale(1.05);
        cursor: pointer;

    

    }
    
    
    
    }
    
    















/* ------------------------Column----------------------------- */





.row { 
    max-width: 650px; 
  
  }
  
  .column{
    -webkit-column-gap: normal; /* Chrome, Safari, Opera */
    -moz-column-gap: normal; /* Firefox */
    
   
  }
  
  @for $i from 1 through 12 {
      $w: ($i / 12) * 100%;
   .sm-#{$i} {width: $w; float: left;}
      
   }










}




/* ------------------------Column----------------------------- */



.footer-container {
    text-align: center; 
    border-top: 1px solid $primaryColor; 
    padding: 20px; 
}


